#next-popover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5555;
}

.popover-wrapper {
  position: relative;
  box-sizing: content-box;
  background-color: $bgColor;
  color: $fontColor;
  border-radius: $radiusSize;
  box-shadow: $boxShadow;

  & .popover-arrow {
    position: absolute;
    width: $arrowSize;
    height: $arrowSize;
    pointer-events: none;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      width: $arrowBeforeSize;
      height: $arrowBeforeSize;
      background-color: $bgColor;
      @include prefix(transform, rotate(45deg));
    }
  }

  & .popover-content {
    padding: 8px 12px;
  }
}

// placement arrow
.popover-wrapper {
  // top
  &.placement-top,
  &.placement-top-start,
  &.placement-top-end {
    & > .popover-arrow {
      bottom: -$arrowSize;
      &::before {
        top: -#{$arrowBeforeHalfSize + 1px};
        left: 4px;
        border-radius: 0 0 3px 0;
      }
    }
  }
  &.placement-top {
    & > .popover-arrow {
      left: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-top-start {
    & > .popover-arrow {
      left: $arrowHalfSize;
    }
  }
  &.placement-top-end {
    & > .popover-arrow {
      right: $arrowHalfSize;
    }
  }
  // right
  &.placement-right,
  &.placement-right-start,
  &.placement-right-end {
    & > .popover-arrow {
      left: -$arrowSize;
      &::before {
        right: -#{$arrowBeforeHalfSize + 1px};
        top: 4px;
        border-radius: 0 0 0 3px;
      }
    }
  }
  &.placement-right {
    & > .popover-arrow {
      top: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-right-start {
    & > .popover-arrow {
      top: $arrowHalfSize;
    }
  }
  &.placement-right-end {
    & > .popover-arrow {
      bottom: $arrowHalfSize;
    }
  }
  // bottom
  &.placement-bottom,
  &.placement-bottom-start,
  &.placement-bottom-end {
    & > .popover-arrow {
      top: -$arrowSize;
      &::before {
        bottom: -#{$arrowBeforeHalfSize + 1px};
        left: 4px;
        border-radius: 3px 0 0 0;
      }
    }
  }
  &.placement-bottom {
    & > .popover-arrow {
      left: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-bottom-start {
    & > .popover-arrow {
      left: $arrowHalfSize;
    }
  }
  &.placement-bottom-end {
    & > .popover-arrow {
      right: $arrowHalfSize;
    }
  }
  // left
  &.placement-left,
  &.placement-left-start,
  &.placement-left-end {
    & > .popover-arrow {
      right: -$arrowSize;
      &::before {
        left: -#{$arrowBeforeHalfSize + 1px};
        top: 4px;
        border-radius: 0 3px 0 0;
      }
    }
  }
  &.placement-left {
    & > .popover-arrow {
      top: calc(50% - $arrowHalfSize);
    }
  }
  &.placement-left-start {
    & > .popover-arrow {
      top: $arrowHalfSize;
    }
  }
  &.placement-left-end {
    & > .popover-arrow {
      bottom: $arrowHalfSize;
    }
  }
}

/* animation style */
.fade-enter-from,
.fade-exit-to {
  opacity: 0;
  transform: scale(0.7);
}

.fade-enter-active,
.fade-exit-active {
  transition: transform 0.1s cubic-bezier(0.34, 0.69, 0.1, 1), opacity 0.1s ease;
}
