#next-popover {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5555;
}

.popover-wrapper {
  position: relative;
  box-sizing: content-box;
  background-color: $bgColor;
  color: $fontColor;
  border-radius: $radiusSize;
  box-shadow: $boxShadow;

  & .popover-arrow {
    position: absolute;
    width: $arrowSize;
    height: $arrowSize;
    overflow: visible;
    pointer-events: none;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: $arrowSize;
      height: $arrowSize;
      background-color: $bgColor;
      @include prefix(transform, rotate(45deg));
    }
  }

  & .popover-content {
    padding: 0.5rem;
  }
}

// placement arrow
.popover-wrapper {
  &.placement-top,
  &.placement-top-start,
  &.placement-top-end {
    & > .popover-arrow {
      margin-left: -$arrowHalfSize;
      left: 0;
      top: -#{$arrowHalfSize + 1px};
    }
  }

  &.placement-right,
  &.placement-right-start,
  &.placement-right-end {
    & > .popover-arrow {
      margin-top: -$arrowHalfSize;
      top: 0;
      left: -#{$arrowHalfSize - 1px};
    }
  }

  &.placement-bottom,
  &.placement-bottom-start,
  &.placement-bottom-end {
    & > .popover-arrow {
      margin-left: -$arrowHalfSize;
      left: 0;
      top: -#{$arrowHalfSize - 1px};
    }
  }

  &.placement-left,
  &.placement-left-start,
  &.placement-left-end {
    & > .popover-arrow {
      margin-top: -$arrowHalfSize;
      top: 0;
      left: -#{$arrowHalfSize + 1px};
    }
  }
}

/* animation style */
.fade-enter-from,
.fade-exit-to {
  opacity: 0;
  transform: scale(0.7);
}

.fade-enter-active,
.fade-exit-active {
  transition: transform 0.2s cubic-bezier(0.34, 0.69, 0.1, 1), opacity 0.2s ease;
}
